.main-city-page-cintainer{
z-index: -5;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;

}

.texxt-container{
    width: 80%;
    margin-top: 6rem;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(90, 189, 189, 0.25);
    border-radius: 20px;
}
.form-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90%;
     margin: 0 auto;
 /* background-color: rgb(29, 43, 200);*/
}
.form-wrapper{
  /* background-color: rgb(156, 226, 43);*/
      position: relative;
      margin: 3rem 0 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content:last baseline;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
}
.selector {
width: 23rem;
margin: 3rem;
/* z-index: 3; */
}

.img_places{
    width: 70rem;
    margin: 1rem;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 5px 16px 5px rgba(2, 10, 27, 0.17);
}
.block{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
background-color: rgba(12, 12, 13, 0.2);
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-shadow: 5px 5px 15px 5px #000000;;
  border-radius: 20px;
}

.smallSelectorBox{
    height: 30rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.button {
    width: 7rem;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #111111;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin: 1rem;
  }
  
  .button:hover {
    background-color: #111111;
    transform: translateY(-2px);
  }
  
  .button:active {
    background-color: #111111;
    transform: translateY(0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .swiper {
    width: 50rem;
    height: 30rem;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.selector-option{
    margin-left: 1.3rem;
    margin-bottom: 2rem;
}
.selector-option-third{
    margin-top: 1rem;
 
    margin-bottom:  2rem;
}
.small-box{
    margin-left: 4rem;
    text-align: left;
}
.top-box{
    width: 100%;
    display: flex;
}
.top-box img{
width: 10rem;
}
.triangle{
    width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid  rgb(90, 189, 189, 0.25);
}

@media (max-width: 1700px) {
    .city-container-wrapper {
    width: 100%;
        padding-top: 2rem;
    }
    .text-up-city{
        margin: 2rem;
    }
    .text-up-city{
        margin: 1rem;
        font-size: 1rem;
        width:90%;
    }
    .img-city-container {
width: 100%;
    }
    .city-first-img{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }


.selector {
    width: 25rem;
    margin: 1rem;
    /* z-index: 3; */
    }
    .smallSelectorBox{
        width:25rem;
    }
.img_places{
        width: 70rem;
     z-index: -1;   
    }
}
@media (max-width: 1620px){
.img_places{
     width: 55rem;
     margin-left: 3rem;
    z-index: -1;   
        }
    }
    .smallSelectorBox{
        width:20rem;
    }
  
    .selector {
        width: 20rem;
        margin: 1rem;
    
        padding-bottom: 2em;
        position: relative;
        }
    .city-container-wrapper {
        width: 100%;
        padding-top: 2rem;
            }
.block{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1450px) {
    .img_places{
        width: 40rem;
        margin-left: 3rem;
       z-index: -1;   
           }
    
}
@media (max-width: 1224px) {
    .img_places{
        width: 50%;
        margin-left: 3rem;
       z-index: -1;   
           }
    .third-block{
        display: flex;
    flex-direction: column-reverse;
    }
}

@media (max-width: 990px) {
    .city-container-wrapper {
        padding-top: 1rem;
        gap: 1rem;
    }
    .text-up-city{
        margin: 1rem;
        font-size: 1rem;
        width:90%;
    }
    .img-city-container {
width: 100%;
    }
    .city-first-img{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }
    .selector{
        width:80%;
        padding: 2px;
        margin: 2rem;
    }
    .block{
        align-items: center;
        justify-content: center;
    }
    .firs-block{
        flex-direction: column-reverse;
    }
    .second-block{
       flex-direction: column;
      }
      .img_places{
        width: 80%;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
       }

}
.selector-option{
    margin-left: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;;
}
.selector-option-third{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom:  2rem;
}
.small-box{
    margin-left: 2rem;
    margin-right: 1rem;
}