.main-city-page-cintainer{
z-index: -5;
}
.city-up-container{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
    margin: 0 auto;
}
.city-container-wrapper {
    display: flex;
    position: relative;
    margin: 3rem 0 3rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;

}
.img-city-container {
overflow: hidden;
width: 40rem;
border-radius: 10px;

}
.city-first-img{
width: 40rem;
border-radius: 10px;
transition: all 0.2s linear;
}
.city-first-img:hover {
    transform: scale(1.1);
  }
.text-up-city{
text-align:justify;
margin-right: 1rem;
font-size: 1.2rem;
width: 50rem;
position: relative;
}
.form-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90%;
     margin: 0 auto;
 /* background-color: rgb(29, 43, 200);*/
}
.form-wrapper{
  /* background-color: rgb(156, 226, 43);*/
      position: relative;
      margin: 3rem 0 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content:last baseline;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
}
.selector {
width: 23rem;
margin: 3rem;
z-index: 3;
}

.img_places{
    width: 70rem;
    margin: 1rem;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 5px 16px 5px rgba(2, 10, 27, 0.17);
}
.block{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
  background-color: brown;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.smallSelectorBox{
    height: 30rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}


@media (max-width: 1700px) {
    .city-container-wrapper {
    width: 100%;
        background-color: brown;
        padding-top: 2rem;
    }
    .text-up-city{
        margin: 2rem;
    }
    .text-up-city{
        margin: 1rem;
        font-size: 1rem;
        width:90%;
    }
    .img-city-container {
width: 100%;
    }
    .city-first-img{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }

}
.selector {
    width: 25rem;
    margin: 1rem;
    z-index: 3;
    }
    .smallSelectorBox{
        width:25rem;
    }
.img_places{
        width: 70rem;
     z-index: 1;   
    }
@media (max-width: 1620px){
.img_places{
     width: 55rem;
     margin-left: 3rem;
    z-index: 1;   
        }
    }
    .smallSelectorBox{
        width:20rem;
    }
  
    .selector {
        width: 20rem;
        margin: 1rem;
    
        padding-bottom: 8rem;
        position: relative;
        }
    .city-container-wrapper {
        width: 100%;
        padding-top: 2rem;
            }
.block{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1450px) {
    .img_places{
        width: 40rem;
        margin-left: 3rem;
       z-index: 1;   
           }
       
}
@media (max-width: 1224px) {
    .img_places{
        width: 50%;
        margin-left: 3rem;
       z-index: 1;   
           }
    .third-block{
        display: flex;
    flex-direction: column-reverse;
    }
}

@media (max-width: 990px) {
    .city-container-wrapper {
        padding-top: 1rem;
        gap: 1rem;
    }
    .text-up-city{
        margin: 1rem;
        font-size: 1rem;
        width:90%;
    }
    .img-city-container {
width: 100%;
    }
    .city-first-img{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }
    .selector{
        width:80%;
        padding: 2px;
        margin: 2rem;
    }
    .block{
        align-items: center;
        justify-content: center;
    }
    .firs-block{
        flex-direction: column-reverse;
    }
    .second-block{
       flex-direction: column;
      }
      .img_places{
        width: 80%;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
       }

}
