
.loginPage {
    margin: 0;
    padding: 0;
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    z-index: -1;
  }
  .containerLogin{
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.5rem;
    color: white;
   border: 2px solid white;
   width:30rem;
   padding: 1rem;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;

  }
  .textLogin{
    color: white;
  }
  .formElements{
    margin: 1rem;
  }
  .button {
    width: 7rem;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #1f98f4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin: 1rem;
  }
  
  .button:hover {
    background-color: rgb(20, 134, 222);
    transform: translateY(-2px);
  }
  
  .button:active {
    background-color: rgb(20, 134, 222);
    transform: translateY(0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 990px) {
    .containerLogin{
      width: 20rem;
      height: 50vh ;
    }
  }