
.loginPage {
    margin: 0;
    padding: 0;
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    z-index: -1;
  }
  .containerLogin{
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.5rem;
    color: white;
   border: 2px solid white;
   width:30rem;
   padding: 1rem;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;

  }
  .textLogin{
    color: white;
  }
  .formElements{
    margin: 1rem;
  }