
.result-text{
font-size: 2rem;
margin: 1rem;
}

.container-container-plan-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-plan{
margin: 4rem;
  }
  .info-block{
      width:50rem;
      height: 30rem;
  }
.wrapper-container-plan-page{
  width: 90%;
    font-family: Arial, sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .plan-block {
    width: 20rem;
    height: 35rem;
    text-align: center;
    padding: 20px;
   background-color: #640f0f;
   background-color: rgba(12, 12, 13, 0.2);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
  }
  
  .plan-block img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .plan-block p {
    margin-top: 10px;
  }

  .button-result {
    width: 10rem;
    display: block;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #1f98f4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin: 1rem;
  }
  
  .button-result:hover {
    background-color:  rgb(20, 134, 222);
    transform: translateY(-2px);
  }
  
  .button-result:active {
    background-color:  rgb(20, 134, 222);
    transform: translateY(0);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  }
 
  @media (max-width: 990px) {
    .wrapper-container-plan-page{
    flex-direction: column;
    }
    .result-text{
      font-size: 1.3rem;
      margin-bottom: 1rem;
      }
  }