.container-saved-plans {
    display: flex;
    align-items:start;
    justify-content: left;
    background-color: aquamarine;
}
.each-card{
    background-color: bisque;
    width:20rem;
    margin: 2rem;
}