.container-saved-plans {
    display: flex;
    align-items:start;
    justify-content: left;
    flex-wrap: wrap;
    justify-content: center;
  
}
.each-card{
    width:30rem;
    height: 130vh;
    display: flex;
    background-color: rgba(12, 12, 13, 0.2);
  margin: 3rem;
  box-shadow: 5px 5px 15px 5px #000000;;
  border-radius: 20px;

}
.note,
.note-new,
textarea {
  
  object-fit: cover;
  border-radius: 1rem;
  background-color: #71777a;;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-new{
    margin-bottom: 0;
}

.textarea-notes {
  width: 85%
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fave-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat (auto-fit, minmax(250, 1fr));
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat (auto-fit, minmax(250, 1fr));
}
/* .note-new {
  background-color: rgb(194, 232, 194)
} */

textarea {
  border: none;
  resize: none;
  background-color: rgb(249, 249, 249);
}
textarea:focus {
  outline: none;
}
.save,
.edit-btn {
  background-color: antiquewhite;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: bisque;
  cursor: pointer;
}
.searchIcon {
  font-size: 1.5rem;
  color: rgb(160, 198, 158);
}

.plan-img{
    width: 7rem;
    margin: 1rem;
}
.note-container{
    align-self: flex-end;
}
.plan-note-card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
    width: 15rem;
    align-content: center;
    text-align: center;
justify-content: start;
background-color:  rgba(12, 12, 13, 0.2);
border-radius: 20px;
}
.note-container-wrapper{
width: 100%;
}