.city-up-container{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
    margin: 0 auto;
   background-color: aquamarine;
}
.city-container-wrapper {
    display: flex;
    background-color: blueviolet;
    position: relative;
    margin: 3rem 0 3rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;

}
.img-city-container {
overflow: hidden;
width: 40rem;
border-radius: 10px;

}
.city-first-img{
width: 40rem;
border-radius: 10px;
transition: all 0.2s linear;
}
.city-first-img:hover {
    transform: scale(1.1);
  }
.text-up-city{
text-align:justify;
margin-right: 1rem;
font-size: 1.2rem;
width: 50rem;
position: relative;
}
.form-container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
     margin: 0 auto;
    background-color: rgb(29, 43, 200);
}
.form-wrapper{
    background-color: rgb(156, 226, 43);
      position: relative;
      margin: 3rem 0 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content:center;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 40%;
}
.selector {
width: 50%;
}

@media (max-width: 1700px) {
    .city-container-wrapper {
        flex-direction: column;
        background-color: brown;
        padding-top: 2rem;
    }
    .text-up-city{
        margin: 2rem;
    }
}

@media (max-width: 990px) {
    .city-container-wrapper {
        flex-direction: column;
        background-color: brown;
        padding-top: 2rem;
        gap: 1rem;
    }
    .text-up-city{
        margin: 1rem;
        font-size: 1rem;
        width:90%;
    }
    .img-city-container {
width: 100%;
    }
    .city-first-img{
        width: 100%;
    }
    .form-wrapper{
        width: 100%;
    }
    .selector{
        width: 100%;
    }
}
